Source: https://www.canva.dev/docs/apps/developer-verification/

# Developer verification

Developers in the Apps Marketplace must now provide additional information during the submission process.

## What information do I provide?

* Name: Individuals must supply their full name, companies must supply their legal entity name.
* Email address.
* Phone number.
* Physical Address.
* Registration details (where applicable).
* Identity document.
* Self-certification.

**Note:** Your name, email address, phone number, address and registration details will also be made publicly available.

## When do I need to submit this information?

* **From February 2024**: New apps must include additional information.
* **On February 17th, 2025**: Existing apps that do not include this information may be removed.

## How do I submit this information for an existing app?

Create a new version of the app and resubmit it for review.

## How do I update my information?

Create a new version of the app and resubmit it for review with the updated information.
